:root {
    --font-body: 'Georgia', system-ui, sans-serif;
    --font-heading: 'times', Georgia, serif;
    background-color: #efebe6;
}

html,
body {
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 0;
    width: 100%;
}



/* <=================- about page styling -==================> */


.about {
    font-family: var(--font-body);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    background-color: #f8f8f8;

    padding: 5vw clamp(1rem, 8vw, 7rem) 0;
}


.about h1 {
    font-family: var(--font-body);
    font-size: clamp(2rem, 3vw, 5rem);
    margin: 0;
}

.card {
    background-color: #f0ebe4;
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* <=================- project section styling -==================> */

.projects {
    font-family: var(--font-body);
    background-color: #f8f8f8;
    padding: 3vw 4vw 3vw 3vw;
}

.projects h1 {
    font-family: var(--font-body);
    font-size: clamp(2rem, 3vw, 5rem);
    padding-left: 5vw;
}


.project-row {

    display: flex;
    flex-direction: row;
    margin: 5vw 2vw 5vw 2vw;
    height: 40vh;
}

.project-demo {
    background: #e7e7e7;
    display: flex;
    margin: 2vw;
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    flex: 1.5
}