---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Footer from "../components/Footer.astro";
import CartPole from "../components/CartPole.jsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Nav />

		<section class="hero">
			<div class="hero-text">
				<h1>Hey,<br />My name is Yuchen.</h1>
				<p>
					I am a student at the University of Michigan. My passion is
					exploring novel coding projects.
				</p>
				<a href="project-start">See some of my side projects below</a>
			</div>

			<div class="cartpole-container">
				<CartPole client:load />
			</div>
		</section>

		<hr class="divider" />

		<section class="projects">
			<h1 id="project-start">Projects</h1>

			<!-- Project 1 -->
			<div class="project-row">
				<div class="project-demo">
					<p>Placeholder</p>
				</div>

				<ProjectCard
					title="Test"
					description="Test Test Test Test Test Test"
				/>
			</div>

			<hr class="divider" />

			<!-- Project 2 -->
			<div class="project-row">
				<ProjectCard
					title="Test"
					description="Test Test Test Test Test Test"
				/>

				<div class="project-demo">
					<p>Placeholder</p>
				</div>
			</div>

			<hr class="divider" />

			<!-- Project 3 -->
			<div class="project-row">
				<div class="project-demo">
					<p>Placeholder</p>
				</div>

				<ProjectCard
					title="Test"
					description="Test Test Test Test Test Test"
				/>
			</div>
		</section>

		<Footer />
	</body>
</html>

<style>
	/* <=================- hero section styling -==================> */

	.hero {
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		background-color: #f8f8f8;
	}

	/* Fade-in keyframes */
	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.hero-text {
		padding: 10vw 0 0 10vw;
	}

	.hero h1 {
		opacity: 0;
		animation: fadeIn 0.8s ease-in-out 0.2s forwards;

		font-family: var(--font-body);
		font-size: clamp(2rem, 5vw, 5rem);
		margin: 0;
	}

	.hero p {
		opacity: 0;
		animation: fadeIn 0.8s ease-in-out 0.2s forwards;
		font-family: var(--font-body);
	}

	.hero a {
		opacity: 0;
		animation: fadeIn 0.8s ease-in-out 0.2s forwards;

		font-family: var(--font-body);
		color: #b4923c;
		font-size: 1.2rem;
		text-decoration: none;
		transition: all 0.5s ease;
		transform-origin: left center;
		display: inline-block;
	}

	.hero a:hover {
		color: #f1cf78;
	}

	.cartpole-container {
		position: relative;
		width: 100vw;
		/* span the entire viewport width */
		overflow: visible;
		margin: 2rem 0;
		/* adjust vertical spacing */
		pointer-events: none;
		/* so clicks pass through if needed */
	}

	.cartpole-container::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: calc(60% + 80px);
		border-top: 2px solid #333;
	}
</style>
